@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.glassmorphism {
		backdrop-filter: blur(4px); /* Apply blur effect */
		-webkit-backdrop-filter: blur(4px); /* For Safari */
		background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
		border: 1px solid rgba(255, 255, 255, 0.25); /* White border */
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
	}
}

#inputFile::-webkit-file-upload-button {
	visibility: hidden;
  }